@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-mainbg
}
.notification {
  @apply absolute py-4 text-neutral px-6 w-128 right-40 top-20 -mt-2 rounded-xl shadow-3xl bg-dashbg text-left invisible duration-300;
  box-shadow: 0px 16px 64px 5px #1f304726;
}
.show-note {
  @apply top-16 visible 
  
}

.recent span {
  @apply font-bold
}
.remove-note {
  @apply top-28 invisible duration-300 opacity-0
}
.arrow::before {
    content: "";
    position: absolute;
    right:3px;
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    background-color:#FCFCFD ;
    border-radius: 5px;
    top: -23px;
    transform: rotate(-45deg);
}

.rule::before {
  content: " ";
  position: absolute;
  width: 100%;
  border-top: 2.5px solid #CCCCCc;
  top: 20px;
  z-index: 1;
}

.rule::after {
  content: " ";
  position: absolute;
  width: 12%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  z-index: 1;
}
.create::after {
  content: "";
  position: absolute;
  width: 50%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index:1;
}

/* 
.OTP::before {
  content: " ";
  position: absolute; */
  /* width: 230px; */
  /* width: 200%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index: -1;
} */

.setup::after {
  content: " ";
  position: absolute;
  /* width: 420px; */
  width: 90.5%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index: 2;

  /* @apply lg:w-72 */
}


.tabs {
  @apply flex flex-col text-center items-center relative z-10;
  /* z-index: 2; */
  
}

.tabs p {
  @apply text-xs lg:text-base
}

.indicator {
  @apply mb-2 border border-2 border-ccc w-10 h-10 pt-1.5 rounded-full bg-white text-base lg:text-base
}
.form {
  @apply lg:w-80 font-family
}
.page-text {
  @apply text-green text-2xl lg:text-4xl font-semibold mb-3 text-center lg:text-left
}

.description {
  @apply lg:text-base text-sm mb-10 font-normal lg:w-72 text-center lg:text-left
}
   .input {
      @apply flex flex-col
    }
  
    .box {
      @apply border rounded-xl border-border bg-input p-3 mb-5 text-sm focus-within:shadow-lg;
      outline: none
    }
    
    .box option {
      @apply bg-input
    }

    label {
      @apply font-semibold text-sm mb-2
    }
/* } */
    .acc {
      @apply border;
      /* width: 20px; */
      padding: 10px;
    }

    .notify {
      @apply w-2 h-2 bg-red rounded-full absolute top-2.5 right-2.5 border border-white
    }

    .online {
        @apply w-2 h-2 bg-on rounded-full absolute bottom-0 right-0
    }

    .ds-icons {
      @apply text-2xl mr-2 
    }

    .nav-items {
      @apply flex py-2.5 items-center rounded px-2 hover:text-green hover:cursor-pointer border-b-4 border-transparent duration-500
    }

    .active {
      @apply border-b-4 border-green text-green rounded
    }

    .vestabs {
        @apply py-2.5 hover:text-green hover:cursor-pointer font-semibold duration-500 uppercase
    }

    .tab .active {
      @apply border-b-2 border-green text-green rounded-none
    }
    .welcome {
      background-image:url(../src/assets/images/frame.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 100% 5px;
      /* background-clip: content; */
    }
    .income {
      @apply w-1/2 p-3
    }
    .income h1{
      @apply font-bold text-sm mb-2 text-secondary
    }

    .income p {
      @apply text-secondary font-normal text-xs
    }

    .circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-width: 25px;
      stroke-dasharray: 472;
      stroke-dashoffset: 300;
      animation-name: anim;
      animation-duration:2s;
      animation-timing-function: linear;
    }
    .svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-80deg);
    }

    @keyframes anim {
      100% {
        /* stroke-dashoffset: 165; */
      }
    }

    .section {
      @apply w-1/2
    }

    .section h1 {
      @apply text-sm font-medium text-dark mb-3
    }

    .investlists .real-estate {
      @apply w-2/6
    }

    .real-estate {
      @apply p-3 bg-mainbg rounded-2xl flex items-center justify-between
    }


    .income2 {
      @apply w-1/2 py-3
    }
    .income2 h1{
      @apply font-bold text-xl mb-2 text-secondary
    }

    .income2 p {
      @apply text-secondary font-medium text-lg
    }

    .table {
      @apply w-6x
    }

    .mine .table {
      @apply w-7x
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    /* .open-modal {
      @apply visible duration-300
    }

    .close-modal {
      @apply invisible duration-300
    } */

/* .show-note {
  @apply top-16 visible 
  
}

.remove-note {
  @apply top-28 invisible duration-300 opacity-0
} */
